.content .main h1 {
    background: url("../img/MessageArea.png") no-repeat center 0px;
}

.content .main .msg {
    width: 100%;
    height: 366px;
}

.content .main .msg .left {
    width: 450px;
    height: auto;
}

.content .main .msg label {
    float: left;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #202020;
}

.content .main .msg .left input {
    float: left;
    width: 450px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 25px;
    margin-top: 5px;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #cccccc;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding-left: 4px;
}

.content .main .msg .right {
    width: 600px;
    height: auto;
}

.content .main .msg .right textarea {
    width: 600px;
    height: 250px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    margin-bottom: 36px;
    margin-top: 5px;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #cccccc;
}

.content .main .msg .right .proving {
    width: 600px;
    height: 54px;
    float: left;
    cursor: pointer;
}

.msg .right .proving input {
    width: 188px;
    height: 30px;
    line-height: 30px;
    float: left;
    padding-left: 3px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    color: #cccccc;
}

.msg .right .proving .submit {
    width: 113px;
    height: 30px;
    line-height: 30px;
    background-color: #cccccc;
    color: #fffefe;
    font-size: 14px;
    cursor: pointer;
}

.msg .right .proving .btn {
    width: 70px;
    height: 30px;
    float: right;
    background-color: #12abd7;
    font-size: 16px;
    color: #fffefe;
    border: 0;
    cursor: pointer;
}

.msg .right .proving span {
    display: block;
    width: 60px;
    height: 30px;
    border: 1px solid #12abd7;
    box-sizing: border-box;
    float: left;
    margin-top: 5px;
    margin-left: 9px;
    line-height: 30;
    background: url("../img/proving_03.png") no-repeat;
}

.content .main .map {
    width: 100%;
    height: 482px;
    background-color: pink;
    margin-top: 25px;
    margin-bottom: 50px;
}
